{% load placeholders %}
<div class="container">
    <div class="row" style="margin-top: 6%">
        <div class="col-md-8">
            <h4 class="page-header">Checkout</h4>
{#            <form method="post" action="{% url 'create order' %}">#}
            <form method="post" action="{% url 'pay order' %}">
                {{ form.as_p }}<br>
                {{ form.customer }}<br>
                {{ form.address }}<br>
                {% csrf_token %}

                <input type="submit" class="btn btn-primary" value="Submit order">
            </form>
        </div>
        <div class="col-md-4">
            <div class="page-header">
                Your Order
            </div>
            <ul class="list-group">
                {% for item,value in request.session.cart.items %}
                    <li class="list-group-item">
{#                    {{ value }}#}
{#                    {{ item }}#}
                        {{ value.quantity }} x {{ value.name }} {{ value.age }} {{ value.date }} {{ value.kids }}
                        <span> {{ value.price|multiply:value.quantity|floatformat:2 }}</span>
                    </li>
                {% endfor %}

                <li class="list-group-item active">Total Cost:{{ cart.get_total_price|floatformat:2 }} BGN</li>
            </ul>

        </div>
    </div>
</div>