.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
}

.navigation-links-link {
  transition: 0.3s;
  color: #0f8e74;
  font-weight: bold;
}
.navigation-links-link:hover {
  color: #21595c;
}
.navigation-links-link1:hover {
  color: #21595c;
}
.navigation-links-link2:hover {
  color: #21595c;
}
.navigation-links-link3:hover {
  color: #21595c;
}
.navigation-links-link4:hover {
  color: #21595c;
}


.navigation-links-link1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
  color: #0f8e74;
  font-weight: bold;
}

.navigation-links-link2 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
  color: #0f8e74;
  font-weight: bold;
}

.navigation-links-link3 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
  color: #0f8e74;
  font-weight: bold;
}

.navigation-links-link4 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
  color: #0f8e74;
  font-weight: bold;
}

.select2-dropdown--below {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
  color: #0f8e74;
  font-weight: bold;
}









.navigation-links-root-class-name17 {
  top: 0px;
  left: 0px;
  position: absolute;
}
@media(max-width: 1200px) {
  .navigation-links-root-class-name17 {
    top: top;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
    align-self: center;
  }
}
@media(max-width: 991px) {
  .navigation-links-root-class-name17 {
    right: 0px;
    bottom: -18px;
    position: absolute;
  }
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("../public/playground_assets/index_image-1500w.jpg");
}
.home-header {
  width: 100%;
  height: 105px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-image {
  left: 460px;
  bottom: 34px;
  height: 2rem;
  position: absolute;
  padding-left: 2px;
}
.home-text {
  left: 500px;
  color: #22887a;
  bottom: 28px;
  position: absolute;
  font-family: Bangers;
  font-size: 40px;
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: space-between;
  flex-direction: column;
}
.home-nav {
  top: 0px;
  flex: 0 0 auto;
  left: 1000px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image1 {
  height: 2rem;
}
.home-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-container4 {
  /*border-radius: var(--dl-radius-radius-radius4);*/
  border-radius: 20px;
  top: 250px;
  right: 150px;
  width: 636px;
  height: 366px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("../public/playground_assets/baby_food_jars3-400h.png");
  background-position: center;
}
/*.home-container5 {*/
/*  flex: 0 0 auto;*/
/*  width: 545px;*/
/*  border: 2px dashed rgba(120, 120, 120, 0.4);*/
/*  height: auto;*/
/*  display: flex;*/
/*  position: relative;*/
/*  align-items: flex-start;*/
/*  flex-direction: column;*/
/*}*/
.home-text03 {
  top: 0px;
  right: -2px;
  position: absolute;
  font-style: normal;
  text-align: center;
  font-family: ABeeZee;
  font-weight: 400;
}
.home-text05 {
  color: #40a49e;
  font-family: ABeeZee;
}
.home-footer {
  left: 100px;
  width: 100%;
  bottom: 0px;
  display: flex;
  /*position: absolute;*/
  position: fixed;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-text11 {
  top: 0px;
  left: 0px;
  color: rgb(33, 98, 90);
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  text-align: center;
}
.home-icon-group1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 1200px) {
  .home-container {
    background-size: cover;
    background-image: url("../public/playground_assets/index_image-1500w.jpg");
    background-position: top left;
  }
  .home-header {
    height: 90px;
    position: relative;
    padding-right: 1241px;
  }
  .home-image {
    top: 29px;
    left: 0px;
    right: 0px;
    width: 51px;
    margin: auto;
    position: absolute;
  }
  .home-text {
    top: 0px;
    left: 0px;
    color: #109b9a;
    right: 0px;
    width: 298px;
    height: 0px;
    margin: auto;
    position: absolute;
    font-family: Bangers;
  }
  .home-container1 {
    position: relative;
  }
  .home-container2 {
    position: relative;
  }
  .home-nav {
    top: 0px;
    left: 800px;
    position: absolute;
  }
  .home-footer {
    width: 1199px;
    height: 91px;
    justify-content: center;
  }
}
@media(max-width: 991px) {
  .home-container {
    background-size: cover;
    background-image: url("../public/playground_assets/image3-1500w.jpg");
    background-position: top left;
  }
  .home-header {
    position: relative;
  }
  .home-image {
    top: 32px;
    right: 0px;
    width: 64px;
    height: 52px;
    position: absolute;
  }
  .home-footer {
    align-items: flex-end;
  }
  .home-text11 {
    text-align: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-nav {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text11 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
    padding-left: 16px;
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-text11 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
