{% load static %}

                    <a href="{% url 'index' %}" class="navigation-links-link"><span>Home</span></a>
                    <a
                            href="{% url 'menus home' %}"
                            class="navigation-links-link1"
                    >
                        <span>Menu</span>
                    </a>
                    <a
                            href="{% url 'locations map' %}"
                            class="navigation-links-link2"
                    >
                        <span>Locations</span>
                    </a>
<a
                                    href="{% url 'gallery pictures' %}"
                                    class="navigation-links-link2"
                            >
                                <span>Gallery</span>
                            </a>
                    <a
                            href="{% url 'sign in' %}"
                            class="navigation-links-link3"
                    >
                        <span>Login</span>
                    </a>
                    <a
                            href="{% url 'sign up' %}"
                            class="navigation-links-link3"
                    >
                        <span>Register</span>
                    </a>
