{% load placeholders %}
{% load static %}

<div class="container padding-bottom-3x mb-1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Alert-->
    {#    <div class="alert alert-info alert-dismissible fade show text-center" style="margin-bottom: 30px;"><span#}
    {#            class="alert-close" data-dismiss="alert">Shopping Cart</span>#}
    {#    </div>#}
    <!-- Shopping Cart-->
    <div class="table-responsive shopping-cart" style="margin-top: 32px; right: 5px; max-height: 400px;">
        <table class="table" style="">
            <p class="last-order-info">
            {% if order %}
                Your last Order number is <strong>{{ order.id }}</strong>
            {% else %}
                No orders
            {% endif %}
                {% if order.paid %}
                    with Payment reference number
                    <strong>{{ order.payments.payment_number }}</strong>
                {% endif %}
            </p>
            <thead style="">

            <tr>
                <th style="color: #0f8e74; width: 80px; font-size: 18px;">Orders</th>
                <th class="text-center">No.</th>
                <th class="text-center">Created</th>
                <th class="text-center">Location</th>
                <th class="text-center">Total amount</th>
                <th class="text-center">Paid</th>
                <th class="text-center">Details / Pay / Remove</th>
            </tr>
            </thead>
            <tbody style="">

            {% for order in orders %}

                <tr>
                    <td>
                        <div class="product-item">
                            <a class="product-thumb" href="#"><img
                                    src="{% static 'public/playground_assets/baby_food_bowls.jpg' %}"
                                    alt="Product" style="width: 80px; height: 40px; border-radius: 5px"></a>
                            <div class="product-info">

                                <h4 class="product-title">

                    <td class="text-center text-lg text-medium text-new-font" style="width: 10%;">
                        {{ order.pk }}.
                    </td>

                    <td class="text-center text-lg text-medium">
{#                        <select class="form-control" style="font-size: 14px; width: 110px">#}
                            <option class="form-control" style="height: calc(1.3em + 0.4rem + 2px);
    padding: 0.1rem 0.3rem; font-size: 14px; width: 110px" type="text">{{ order.created_at|date }}</option>
{#                        </select>#}

                    </td>
                    <td class="text-center text-lg text-medium">
{#                        <select class="form-control" style="font-size: 14px; ">#}
                            <option class="form-control" style="height: calc(1.3em + 0.4rem + 2px);
    padding: 0.1rem 0.3rem; font-size: 14px; width: 320px; overflow: hidden" type="text">{{ order.address }}</option>
{#                        </select>#}

                    </td>
                    <td class="text-center text-lg text-medium text-new-font">{{ order.order_amount|floatformat:2 }}</td>
                    <td class="text-center text-lg text-medium text-new-font">{{ order.paid }}</td>

                    <td class="text-center text-lg text-medium text-new-font" style="display: flex; justify-content: space-around">
                        <a href="{% url 'order details' pk=order.pk %}"><i class="fa-solid fa-rectangle-list"
                                                                           style="color: rgba(10,202,106,0.86);"></i></a>
                        {% if not order.paid %}
                            <a href="{% url 'pay order' order_pk=order.pk %}"><i class="fa-brands fa-cc-amazon-pay"
                                                                                 style="color: #0982c3;"></i></a>
                            <a href="{% url 'delete order' pk=order.pk %}" id="remove-unpaid-order-btn" ><i class="fa-solid fa-trash-can"
                                                                                 style="color: #b70968;"></i></a>
                        {% endif %}

                    </td>

                </tr>
            {% endfor %}
            {#Second item#}

            {#Third item#}


            </tbody>
        </table>
    </div>
    <div class="shopping-cart-footer"
         style="text-align: right; margin-right: 10px; margin-bottom: 10px; margin-top: 25px">

    </div>
    <div class="shopping-cart-footer" style="text-align: right; margin-right: 10px;">

        <div class="column">
            <a class="btn btn-primary" style="background-color: lightseagreen" href="{% url 'menus home' %}"
               data-toast=""
               data-toast-type="success"
               data-toast-position="topRight" data-toast-icon="icon-circle-check"
               data-toast-title="Your cart" data-toast-message="is empty!">Get Menus To Your Card</a>

        </div>
    </div>


