{% load placeholders %}
{% load static %}

<div class="container padding-bottom-3x mb-1">

    <!-- Shopping Cart-->
    <div class="table-responsive shopping-cart" style="margin-top: 32px; right: 5px; max-height: 400px">
        <table class="table" style="">
            <thead style="">
            <tr>
                <th style="color: #0f8e74; width: 80px; font-size: 18px; text-align: center">Order details</th>
                <th class="text-center">Item No.</th>
                <th class="text-center" style="">Menu</th>
                <th class="text-center" style="">Age Range</th>
                <th class="text-center">Date</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Subtotal</th>
                <th class="text-center">Order Paid</th>
            </tr>
            </thead>
            <tbody style="">

            {% for item in order_items %}

                <tr>
                    <td>
                        <div class="product-item">
                            <a class="product-thumb" href="#"><img
                                    src="{% static 'public/playground_assets/baby_food_bowls.jpg' %}"
                                    alt="Product" style="width: 80px; height: 36px; border-radius: 5px"></a>
                            <div class="product-info">

                                <h4 class="product-title">

                    <td class="text-center text-lg text-medium" style="width: 20px;">
                        {{ forloop.counter }}.
                    </td>
                    <td class="text-center text-lg text-medium ">
                        {#                        <select class="form-control" style="font-size: 14px; width: 105px">#}
                        <option class="form-control" style="height: calc(1.3em + 0.4rem + 2px);
    padding: 0.1rem 0.3rem; font-size: 15px; width: 150px" name="1">{{ item.product.category }}</option>
                        {#                        </select>#}

                    </td>

                    <td class="text-center text-lg text-medium">
                        {#                        <select class="form-control" style="font-size: 14px; width: 105px">#}
                        <option class="form-control" style="height: calc(1.3em + 0.4rem + 2px);
    padding: 0.1rem 0.3rem; font-size: 14px; width: 105px">{{ item.product.age }}</option>
                        {#                        </select>#}
                    </td>
                    <td class="text-center text-lg text-medium">
                        {#                        <select class="form-control" style="font-size: 14px; width: 130px">#}
                        <option class="form-control" style="height: calc(1.3em + 0.4rem + 2px);
    padding: 0.1rem 0.3rem; font-size: 14px; width: 130px" type="text">{{ item.product.date }}</option>
                        {#                        </select>#}

                    </td>

                    </h4>


                    </td>
                    <td class="text-center">
                        <div class="count-input">
                            {#                            <select class="form-control" style="font-size: 14px; width: 55px">#}
                            <option class="form-control" style="height: calc(1.3em + 0.4rem + 2px);
    padding: 0.1rem 0.3rem; font-size: 14px; width: 55px">{{ item.quantity }}</option>
                            {#                            </select>#}
                        </div>
                    </td>

                    <td class="text-center text-lg text-medium">{{ item.total_price|floatformat:2 }}</td>
                    <td class="text-center text-lg text-medium">{{ order.paid }}</td>

                </tr>
            {% endfor %}
            {#Second item#}

            {#Third item#}


            </tbody>
        </table>
    </div>
    <div class="shopping-cart-footer"
         style="text-align: right; margin-right: 10px; margin-bottom: 10px; margin-top: 25px">
        <div class="column text-lg">Total BGN: <span class="text-medium"
                                                     style="color: mediumvioletred"><b>{{ order.order_amount|floatformat:2 }}</b></span>
        </div>
    </div>
    <div class="shopping-cart-footer" style="text-align: right; margin-right: 10px;">
        {% if request.session.cart.items %}
            <div class="column">

                <a class="btn btn-success" style="background-color: darkcyan;"
                   href="{% url 'create order' %}">Checkout</a></div>
        {% else %}
            <div class="column">
            <a class="btn btn-primary" style="background-color: lightseagreen;" href="{% url 'created order' %}"
               data-toast=""
               data-toast-type="success"
               data-toast-position="topRight" data-toast-icon="icon-circle-check"
               data-toast-title="Your cart" data-toast-message="is empty!">Go to your Orders</a>
        {% endif %}
        </div>
    </div>