{% load static %}

<link rel="stylesheet" href="{% static 'css_new/checkout-form.css' %}"/>

<div class="checkout-card">
    <h2 class="checkout-card-title">Payment Details</h2>
    <form class="checkout-card-form" role="form" method="post" action="{% url 'pay order' %}">
{#    <form class="checkout-card-form" role="form" method="post" action="{% url 'create order' %}">#}


        <label for="cardHolder" class="checkout-card-form-label">Card Holder Name</label>
{#        <input type="text" name="cardHolder" id="cardHolder" class="checkout-card-form-input"#}
{#               placeholder="Enter your name">#}
        {{ payment_form.card_holder }}

        <label for="cardNumber" class="checkout-card-form-label">CARD NUMBER</label>
        {{ payment_form.card_number}}
{#        <input type="number" name="cardNumber" id="cardNumber" class="checkout-card-form-input"#}
{#               placeholder="Enter your card number">#}
        <div class="card-input-wrapper">
            <label id="expLabel" class="checkout-card-form-label">EXPIRY DATE</label>

            {{ payment_form.card_expiry_month }} /
            {{ payment_form.card_expiry_year }}
{#            <input type="number" name="expMM" class="checkout-card-form-input exp ccv-label" placeholder="MM"> /#}
{#            <input type="number" name="expYY" class="checkout-card-form-input exp ccv-label" placeholder="YY">#}
        </div>

        <label id="ccvLabel" class="checkout-card-form-label ccv-label">CCV</label>
        {{ payment_form.card_verification_code }}
{#        <input type="password" name="CCV" id="card-ccv" class="checkout-card-form-input exp" placeholder="123">#}


        <div class="checkout-card-form-final-info ">
{#            <a href="{% url 'cart details' %}" class="checkout-card-form-link-info">Final Payment#}
{#                <span id="card-total-amount">{{ cart.get_total_price|floatformat:2 }} BGN</span>#}
{#            </a>#}
{#            <a href="{% url 'cart details' %}" class="checkout-card-form-link-info order-final-info">#}
{#                Order Details#}
{#                <i class="fa-solid fa-receipt" style="color: #f1f4fa; margin-top: "></i>#}
{#                <span id="card-total-amount"> Total amount: {{ cart.get_total_price|floatformat:2 }} BGN</span>#}
                <span id="card-total-amount " class="checkout-card-form-link-info pay-info-text" style="margin-top: 5%; margin-bottom: 5%"> Total amount: {{ order.order_amount|floatformat:2 }} BGN</span>
{#            </a>#}
        </div>
        <button type="submit" id="card-pay-btn">Pay</button>
{#        <input type="submit" value="Pay" id="card-pay-btn">#}

        {% csrf_token %}
    </form>
</div>
