{% load placeholders %}
{% load static %}

<div class="container padding-bottom-3x mb-1">

    <!-- Shopping Cart-->
    <div class="table-responsive shopping-cart" style="margin-top: 32px; right: 5px; max-height: 400px">
        <table class="table" style="">
            <thead style="">
            <tr>
                <th style="color: #0f8e74; width: 80px; font-size: 18px; text-align: center">Shopping Cart</th>
                <th class="text-center">No.</th>
                <th class="text-center" style="">Menu</th>
                <th class="text-center" style="">Age Range</th>
                <th class="text-center">Date</th>
                <th class="text-center">Children</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Price</th>
                <th class="text-center">Subtotal</th>
                <th class="text-center">Remove</th>

            </tr>
            </thead>
            <tbody style="">

            {% for key,value in request.session.cart.items %}
                <tr>
                    <td>
                        <div class="product-item">
                            <a class="product-thumb" href="#"><img
                                    src="{% static 'public/playground_assets/baby_food_bowls.jpg' %}"
                                    alt="Product" style="width: 80px; height: 58px; border-radius: 5px"></a>
                            <div class="product-info">

                                <h4 class="product-title">

                    <td class="text-center text-lg text-medium" style="width: 20px;">
                        {{ key }}.
                    </td>
                    <td class="text-center text-lg text-medium">
                        {#                        <select class="form-control" style="font-size: 15px; width: 115px">#}
                        <option class="form-control" style="height: calc(1.4em + 0.4rem + 2px);
    padding: 0.16rem 0.3rem; font-size: 15px; width: 115px" name="1">{{ value.name }}</option>
                        {#                        </select>#}

                    </td>

                    <td class="text-center text-lg text-medium">
                        {#                        <select class="form-control" style="font-size: 14px; width: 93px">#}
                        <option class="form-control" style="height: calc(1.5em + 0.4rem + 2px);
    padding: 0.16rem 0.3rem; font-size: 14px; width: 93px">{{ value.age }}</option>
                        {#                        </select>#}
                    </td>
                    <td class="text-center text-lg text-medium">
                        {#                        <select class="form-control" style="font-size: 14px; width: 100px">#}
                        <option class="form-control" style="height: calc(1.5em + 0.4rem + 2px);
    padding: 0.16rem 0.3rem;font-size: 14px; width: 100px" type="text">{{ value.date }}</option>
                        {#                        </select>#}

                    </td>

                    </h4>
                    <td class="text-center text-lg text-medium">
                        <select class="form-control" style="font-size: 14px; width: 80px; height: 54px; padding: 3px"
                                multiple>
                            {% if value.kids %}
                                {% for key, value in value.kids.items %}
                                    <option>{{ key }}-{{ value }}</option>
                                {% endfor %}
                            {% else %}
                                <option>Add Child To Your Profile</option>
                            {% endif %}
                        </select>
                    </td>


                    </td>
                    <td class="text-center">
                        <div class="count-input">
                            {#                            <select class="form-control" style="font-size: 14px; width: 50px">#}
                            <option class="form-control" style=" height: calc(1.5em + 0.4rem + 2px);
    padding: 0.16rem 0.3rem; font-size: 14px; width: 50px">{{ value.quantity }}</option>
                            {#                            </select>#}
                        </div>
                    </td>
                    <td class="text-center text-lg text-medium">{{ value.price|floatformat:2 }}</td>
                    <td class="text-center text-lg text-medium">{{ value.price|multiply:value.quantity|floatformat:2 }}</td>
                    <td class="text-center"><a class="remove-from-cart"
                                               href="{% url 'remove from cart' value.menu_id %}" data-toggle="tooltip"
                                               title=""
                                               data-original-title="Remove item"><i class="fa fa-trash"
                                                                                    style="color: #0d796c"></i></a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="shopping-cart-footer"
         style="text-align: right; margin-right: 10px; margin-bottom: 10px; margin-top: 25px">
        <div class="column text-lg">Subtotal BGN: <span class="text-medium"
                                                        style="color: mediumvioletred"><b>{{ cart.get_total_price|floatformat:2 }}</b></span>
        </div>
    </div>
    <div class="shopping-cart-footer" style="text-align: right; margin-right: 10px;">
        {% if request.session.cart.items %}
            <div class="column">
                <a class="btn btn-success" style="background-color: darkcyan;"
                   href="{% url 'create order' %}">Checkout</a></div>
        {% else %}
            <div class="column">
            <a class="btn btn-primary" style="background-color: lightseagreen;" href="{% url 'menus home' %}"
               data-toast=""
               data-toast-type="success"
               data-toast-position="topRight" data-toast-icon="icon-circle-check"
               data-toast-title="Your cart" data-toast-message="is empty!">Get Menus To Your Card</a>
        {% endif %}
        </div>
    </div>