{% load placeholders %}
{% load static %}

{#<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">#}
{#<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>#}
{#<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">#}
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>#}

<div class="container padding-bottom-3x mb-1">
    <!-- Alert-->
    {#    <div class="alert alert-info alert-dismissible fade show text-center" style="margin-bottom: 30px;"><span#}
    {#            class="alert-close" data-dismiss="alert">Shopping Cart</span>#}
    {#    </div>#}
    <!-- Shopping Cart-->
    <div class="table-responsive shopping-cart" style="margin-top: 32px; right: 5px; max-height: 400px">
        <table class="table" style="">
            <thead style="">
            <tr>
                <th style="color: #0f8e74; width: 80px; font-size: 18px; text-align: center">Shopping Cart</th>
                {#                <th><img src="{% static 'public/playground_assets/shopping-stroller.png' %}" style="width: 50px; height: 30px"></th>#}
                <th class="text-center">No.</th>
                <th class="text-center" style="">Menu</th>
                <th class="text-center" style="">Age Range</th>
                <th class="text-center">Date</th>
{#                <th class="text-center">Location</th>#}
                <th class="text-center">Children</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Price</th>
                <th class="text-center">Subtotal</th>
                <th class="text-center">Remove</th>
                {#                <th class="text-center"><a class="btn btn-sm btn-outline-danger" href="#">Clear</a></th>#}
            </tr>
            </thead>
            <tbody style="">
            {#                        Total Length :: {{request.session.cart|length}}#}

            {#Cart Detail::#}
            {% for key,value in request.session.cart.items %}
                <tr>
                    <td>
                        <div class="product-item">
                            <a class="product-thumb" href="#"><img
                                    src="{% static 'public/playground_assets/baby_food_bowls.jpg' %}"
                                    alt="Product" style="width: 80px; height: 58px; border-radius: 5px"></a>
                            <div class="product-info">

                                <h4 class="product-title">

                    <td class="text-center text-lg text-medium" style="width: 20px;">
                        {{ key }}.
                    </td>
                    <td class="text-center text-lg text-medium">
                        <select class="form-control" style="font-size: 15px; width: 115px">
                            {% if value.name in 'Allergy-Free Menu' %}:
                                <option name="1">Alle​rgy-Free Menu</option>
                            {% else %}
                                <option name="2">Menu With Allergens</option>
                            {% endif %}
                        </select>

                    </td>

                    <td class="text-center text-lg text-medium">
                        <select class="form-control" style="font-size: 14px; width: 93px">
                            {% if value.date in '10M-18M' %}
                            <option>10M-18M</option>
                            {% elif value.date in '18M-36M' %}
                            <option>18M-36M</option>
                            {% else %}
                            <option>10M-36M</option>
                            {% endif %}
                        </select>
                    </td>
                    <td class="text-center text-lg text-medium">
                        <select class="form-control" style="font-size: 14px; width: 100px">
                            <option type="text">{{ value.date }}</option>
{#                            <option>01.01.2023</option>#}
{#                            <option>02.01.2023</option>#}
                        </select>

                    </td>
{#                    <td class="text-center text-lg text-medium">#}
{#                        <select class="form-control" style="font-size: 14px; width: 90px">#}
{#                            <option type="text">{{ value.location }}</option>#}
{#                            <option>Address 1</option>#}
{#                            <option>Address 2</option>#}
{#                        </select>#}
{##}
{#                    </td>#}
                    </h4>
                    <td class="text-center text-lg text-medium">
                        <select class="form-control" style="font-size: 14px; width: 80px;  height:54px; padding: 3px" multiple>
{#                            {% for child_id in request.user.number_of_children|times %}#}

{#                                {% endfor %}#}
                            {% if value.kids %}
                                {% for key, value in value.kids.items %}
                                    <option>{{ key }}-{{ value }}</option>
                                {% endfor %}
                            {% else %}
                                <option>Add Child To Your Profile</option>
                            {% endif %}
                        </select>
                    </td>


                    </td>
                    <td class="text-center">
                        <div class="count-input">
                            <select class="form-control" style="font-size: 14px; width: 50px">
                                <option>{{ value.quantity }}</option>
{#                                <option>0</option>#}
{#                                <option>2</option>#}
                            </select>
                        </div>
                    </td>
{#                    <td class="text-center text-lg text-medium">3.50</td>#}
                    <td class="text-center text-lg text-medium">{{ value.price|floatformat:2  }}</td>
                    <td class="text-center text-lg text-medium">{{ value.price|multiply:value.quantity|floatformat:2 }}</td>
                    <td class="text-center"><a class="remove-from-cart" href="{% url 'remove from cart' value.menu_id %}" data-toggle="tooltip" title=""
                                               data-original-title="Remove item"><i class="fa fa-trash"
                                                                                    style="color: #0d796c"></i></a></td>
                </tr>
            {% endfor %}
            {#Second item#}

            {#Third item#}


            </tbody>
        </table>
    </div>
    <div class="shopping-cart-footer"
         style="text-align: right; margin-right: 10px; margin-bottom: 10px; margin-top: 25px">
        <div class="column text-lg">Subtotal BGN: <span class="text-medium" style="color: mediumvioletred"><b>{{ cart.get_total_price|floatformat:2 }}</b></span>
        </div>
    </div>
    <div class="shopping-cart-footer" style="text-align: right; margin-right: 10px;">
        {% if request.session.cart.items %}
        <div class="column">
{#            <a class="btn btn-primary" style="background-color: lightseagreen;" href="#" data-toast=""#}
{#                               data-toast-type="success"#}
{#                               data-toast-position="topRight" data-toast-icon="icon-circle-check"#}
{#                               data-toast-title="Your cart" data-toast-message="is updated successfully!">Update#}
{#            Cart</a>#}



{#            <a class="btn btn-success" style="background-color: darkcyan;" href="{% url 'create order' %}">Checkout</a></div>#}

{#            <input type="submit" class="btn btn-success" style="background-color: darkcyan;" value="Checkout" ></div>#}

            <a class="btn btn-success" style="background-color: darkcyan;" href="{% url 'create order' %}">Checkout</a></div>
            {% else %}
            <div class="column"><a class="btn btn-primary" style="background-color: lightseagreen;" href="{% url 'menus home' %}" data-toast=""
                               data-toast-type="success"
                               data-toast-position="topRight" data-toast-icon="icon-circle-check"
                               data-toast-title="Your cart" data-toast-message="is empty!" >Get Menus To Your Card</a>
            {% endif %}
    </div>
</div>