{% load static %}
<header class="u-clearfix u-container-align-right u-header u-header" id="sec-ec00">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-align-right u-custom-font u-text u-text-custom-color-1 u-text-default u-title u-text-1"><span
                class="u-file-icon u-icon"><img src="{% static 'images/baby_food_icon.png' %}" alt=""></span>&nbsp;BAB​Y
            &amp; TODDLER FOOD
        </h1>
        <nav class="u-align-right u-menu u-menu-one-level u-offcanvas u-menu-1">
            <div class="menu-collapse u-custom-font u-font-merriweather" style="font-size: 1rem; letter-spacing: 0px;">
                <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-color u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                   href="#">
                    <svg class="u-svg-link" viewBox="0 0 24 24">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                    </svg>
                    <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <rect y="1" width="16" height="2"></rect>
                            <rect y="7" width="16" height="2"></rect>
                            <rect y="13" width="16" height="2"></rect>
                        </g>
                    </svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-custom-font u-font-merriweather u-nav u-spacing-20 u-unstyled u-nav-1">
                    <li class="u-nav-item"><a
                            class="u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-custom-color-1 u-text-grey-90 u-text-hover-custom-color-1"
                            href="{% url 'index' %}" style="padding: 10px;">Home</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-custom-color-1 u-text-grey-90 u-text-hover-custom-color-1"
                            href="{% url 'menus home' %}" style="padding: 10px;">Menus</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-custom-color-1 u-text-grey-90 u-text-hover-custom-color-1"
                            href="{% url 'locations map' %}" style="padding: 10px;">Locations</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-custom-color-1 u-text-grey-90 u-text-hover-custom-color-1"
                            href="{% url 'sign in' %}" style="padding: 10px;">Sign In</a>
                    </li>
{#                    TODO Logout when user is login#}
                    <li class="u-nav-item"><a
                            class="u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-custom-color-1 u-text-grey-90 u-text-hover-custom-color-1"
                            href="{% url 'sign up' %}" style="padding: 10px;">Register</a>
                    </li>
                </ul>
            </div>
            <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                    <div class="u-inner-container-layout u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'index' %}">Home</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'menus home' %}">Menus</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'locations map' %}">Locations</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'sign in' %}">Sign In</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'sign up' %}">Register</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
            </div>
        </nav>
    </div>
</header>