{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
    {% include 'partials/base-1.html' %}
    <title>Home With Profile</title>

    <link rel="stylesheet" href="{% static 'css_b/Home-With-Profile.css' %}" media="screen">
    {% include 'partials/base-2.html' %}
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home With Profile">
    <meta property="og:type" content="website">
</head>
<body class="u-body u-image u-overlap u-overlap-transparent u-stick-footer u-xl-mode" data-lang="en"
      style="background-position: 50% 50%; background-image: url({% static 'images/image3.jpg' %});">

{% include 'partials/header.html' %}

<section class="u-clearfix u-image u-section-1" id="sec-0826" data-image-width="1333" data-image-height="2000">
    <div class="u-container-style u-group u-image u-image-default u-shape-rectangle u-image-1" data-image-width="610"
         data-image-height="343">
        <div class="u-container-layout u-container-layout-1">
            <h2 class="u-align-center u-custom-font u-subtitle u-text u-text-custom-color-11 u-text-1">Welcome to <span
                    style="font-size: 2.25rem;"></span> Baby &amp; Toddler Food!
            </h2>
            <p class="u-align-center u-text u-text-2">Have a nice stay :)
            </p>
        </div>
    </div>
</section>


{% include 'partials/footer.html' %}

</body>
</html>