{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
    {% include 'partials/base-1.html' %}
    <title>Locations</title>

    <link rel="stylesheet" href="{% static 'css_b/Locations.css' %}" media="screen">
    {% include 'partials/base-2.html' %}

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Locations">
    <meta property="og:type" content="website">
</head>
<body class="u-body u-image u-overlap u-overlap-transparent u-stick-footer u-xl-mode" data-lang="en"
      style="background-position: 50% 50%; background-image: url({% static 'images/image3.jpg' %});">
{% include 'partials/header.html' %}

<section class="u-clearfix u-image u-section-1" id="sec-0826" data-image-width="1333" data-image-height="2000">
    <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-1"
                     data-image-width="1024" data-image-height="683">
                    <div class="u-container-layout u-container-layout-1">
                        <div class="u-expanded-width u-form u-form-1">
{#                            <form action="https://forms.nicepagesrv.com/Form/Process"#}
                            <form method="get" action="{% url 'locations map' %}"

                                  class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email"
                                  name="form" style="padding: 10px;">
                                <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been
                                    sent.
                                </div>
                                <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please
                                    fix errors then try again.
                                </div>
                                <input type="hidden" value="" name="recaptchaResponse">
                                <input type="hidden" name="formServices" value="217912b0f3cfe4ce4e90524e1858af12">
                            </form>
                            <div class="u-form-group u-form-select u-form-group-1">
                                <label for="select-5666"
                                       class="u-custom-font u-font-merriweather u-label u-text-white u-label-1">Locations</label>
                                <div class="u-form-select-wrapper">
                                    <select id="select-5666" name="select"
                                            class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white u-input-1">
                                        <option value="Item 1">Item 1</option>
                                        <option value="Item 2">Item 2</option>
                                        <option value="Item 3">Item 3</option>
                                    </select>
                                    <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1"
                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16"
                                         style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                    <div class="u-container-layout u-container-layout-2">
                        <div class="u-expanded u-grey-10 u-map" data-animation-name="" data-animation-duration="0"
                             data-animation-direction="">
                            <div class="embed-responsive">
                                <iframe class="embed-responsive-item"
                                        src="//maps.google.com/maps?output=embed&amp;q=Burgas%2C%20Bulgaria&amp;z=12&amp;t=m"
                                        data-map="JTdCJTIycG9zaXRpb25UeXBlJTIyJTNBJTIybWFwLWFkZHJlc3MlMjIlMkMlMjJhZGRyZXNzJTIyJTNBJTIyQnVyZ2FzJTJDJTIwQnVsZ2FyaWElMjIlMkMlMjJ6b29tJTIyJTNBMTIlMkMlMjJ0eXBlSWQlMjIlM0ElMjJyb2FkJTIyJTJDJTIybGFuZyUyMiUzQW51bGwlMkMlMjJhcGlLZXklMjIlM0FudWxsJTJDJTIybWFya2VycyUyMiUzQSU1QiU1RCU3RA=="></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'partials/footer.html' %}

</body>
</html>