 .u-section-1 {
  background-image: url("../images/image3.jpg");
  background-position: 50% 0%;
  min-height: 1146px;
}

.u-section-1 .u-image-1 {
  width: 737px;
  min-height: 459px;
  height: auto;
  background-image: url("../images/baby_food_jars3.png");
  background-position: 50% 50%;
  margin: 278px calc(((100% - 1140px) / 2) + 13px) 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 5px 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-family: ABeeZee;
  font-weight: 700;
  width: 537px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 0 54px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 945px;
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + 13px);
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 724px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: 46px;
    margin-right: 46px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 543px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 342px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
}