 .u-section-1 {
  background-image: url("../images/image3.jpg");
  background-position: 50% 0%;
  min-height: 1146px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 731px;
  margin: 283px calc(((100% - 1140px) / 2) + 16px) 60px auto;
}

.u-section-1 .u-image-1 {
  min-height: 388px;
  background-image: url("../images/burgas_58764.jpg");
  background-position: 0% 50%;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 60px;
}

.u-section-1 .u-form-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-size: 1rem;
}

.u-section-1 .u-input-1 {
  font-size: 0.875rem;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 388px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 917px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: calc(((100% - 940px) / 2));
    min-height: 406px;
  }

  .u-section-1 .u-image-1 {
    min-height: 381px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 500px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 583px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-1 {
    min-height: 382px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
    min-height: 572px;
  }

  .u-section-1 .u-image-1 {
    min-height: 573px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
    min-height: 388px;
  }

  .u-section-1 .u-image-1 {
    min-height: 361px;
  }
}