/* .u-section-1 {*/
/*  background-image: url("images/image3.jpg");*/
/*  background-position: 50% 49.67%;*/
/*  min-height: 1474px;*/
/*}*/

 .u-section-1 {
  background-image: url("../images/image3.jpg");
  background-position: 50% 0%;
  min-height: 1146px;
}

.u-section-1 .u-text-1 {
  font-family: ABeeZee;
  font-weight: normal;
  margin: 178px calc(((100% - 1140px) / 2) + -102px) 0 calc(((100% - 1140px) / 2) + 424px);
}

.u-section-1 .u-text-2 {
  font-family: ABeeZee;
  margin: 39px calc(((100% - 1140px) / 2) + -102px) 0 calc(((100% - 1140px) / 2) + 424px);
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 1060px;
  margin: 0 calc(((100% - 1140px) / 2) + -102px) 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 20% 20% 20% 20% 20%;
  min-height: 538px;
  grid-gap: 0px 0px;
  grid-auto-columns: 20%;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-text-3 {
  font-family: ABeeZee;
  text-decoration: underline !important;
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  height: 162px;
  margin-top: 20px;
  margin-bottom: 0;
  object-position: 40.96% 50%;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-text-5 {
  font-family: ABeeZee;
  text-decoration: underline !important;
  margin: 20px 0 0;
}

.u-section-1 .u-image-2 {
  height: 162px;
  margin-top: 20px;
  margin-bottom: 0;
  object-position: 52.61% 50%;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-1 .u-text-7 {
  font-family: ABeeZee;
  text-decoration: underline !important;
  margin: 20px 0 0;
}

.u-section-1 .u-image-3 {
  height: 162px;
  margin-top: 20px;
  margin-bottom: 0;
  object-position: 32.12% 50%;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-1 .u-text-9 {
  font-family: ABeeZee;
  text-decoration: underline !important;
  margin: 20px 0 0;
}

.u-section-1 .u-image-4 {
  height: 162px;
  margin-top: 20px;
  margin-bottom: 0;
  object-position: 42.74% 50%;
}

.u-section-1 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-1 .u-text-11 {
  font-family: ABeeZee;
  text-decoration: underline !important;
  margin: 20px 0 0;
}

.u-section-1 .u-image-5 {
  height: 162px;
  margin-top: 20px;
  margin-bottom: 0;
  object-position: 49.18% 50%;
}

.u-section-1 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-13 {
  font-family: ABeeZee;
  margin: 39px calc(((100% - 1140px) / 2) + -102px) 0 calc(((100% - 1140px) / 2) + 1091px);
}

.u-section-1 .u-list-2 {
  grid-template-rows: auto;
  width: 1060px;
  margin: 0 calc(((100% - 1140px) / 2) + -102px) 50px auto;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: 20% 20% 20% 20% 20%;
  min-height: 538px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-1 .u-text-14 {
  font-family: ABeeZee;
  text-decoration: underline !important;
  margin: 20px 0 0;
}

.u-section-1 .u-image-6 {
  height: 162px;
  object-position: 39.15% 50%;
  margin: 20px 0 0;
}

.u-section-1 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-1 .u-text-16 {
  font-family: ABeeZee;
  text-decoration: underline !important;
  margin: 20px 0 0;
}

.u-section-1 .u-image-7 {
  height: 162px;
  object-position: 41.29% 50%;
  margin: 20px 0 0;
}

.u-section-1 .u-text-17 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 20px 30px;
}

.u-section-1 .u-text-18 {
  font-family: ABeeZee;
  text-decoration: underline !important;
  margin: 20px 0 0;
}

.u-section-1 .u-image-8 {
  height: 162px;
  object-position: 39.35% 50%;
  margin: 20px 0 0;
}

.u-section-1 .u-text-19 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 20px 30px;
}

.u-section-1 .u-text-20 {
  font-family: ABeeZee;
  text-decoration: underline !important;
  margin: 20px 0 0;
}

.u-section-1 .u-image-9 {
  height: 162px;
  object-position: 40.93% 50%;
  margin: 20px 0 0;
}

.u-section-1 .u-text-21 {
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 20px 30px;
}

.u-section-1 .u-text-22 {
  font-family: ABeeZee;
  text-decoration: underline !important;
  margin: 20px 0 0;
}

.u-section-1 .u-image-10 {
  height: 162px;
  object-position: 38.35% 50%;
  margin: 20px 0 0;
}

.u-section-1 .u-text-23 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1215px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + -102px);
    margin-left: calc(((100% - 940px) / 2) + 324px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + -102px);
    margin-left: calc(((100% - 940px) / 2) + 324px);
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2) + -102px);
  }

  .u-section-1 .u-repeater-1 {
    min-height: 477px;
  }

  .u-section-1 .u-image-1 {
    height: 136px;
  }

  .u-section-1 .u-image-2 {
    height: 136px;
  }

  .u-section-1 .u-image-3 {
    height: 136px;
  }

  .u-section-1 .u-image-4 {
    height: 136px;
  }

  .u-section-1 .u-image-5 {
    height: 136px;
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 940px) / 2) + -102px);
    margin-left: calc(((100% - 940px) / 2) + 891px);
  }

  .u-section-1 .u-list-2 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2) + -102px);
  }

  .u-section-1 .u-repeater-2 {
    min-height: 477px;
  }

  .u-section-1 .u-image-6 {
    height: 137px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    height: 137px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 137px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 137px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-10 {
    height: 137px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 931px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + -102px);
    margin-left: calc(((100% - 720px) / 2) + 214px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + -102px);
    margin-left: calc(((100% - 720px) / 2) + 214px);
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2) + -102px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 1218px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-1 .u-image-1 {
    height: 191px;
  }

  .u-section-1 .u-image-2 {
    height: 191px;
  }

  .u-section-1 .u-image-3 {
    height: 191px;
  }

  .u-section-1 .u-image-4 {
    height: 191px;
  }

  .u-section-1 .u-image-5 {
    height: 191px;
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 720px) / 2) + -102px);
    margin-left: calc(((100% - 720px) / 2) + 671px);
  }

  .u-section-1 .u-list-2 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2) + -102px);
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 1218px;
  }

  .u-section-1 .u-image-6 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-10 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 698px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + -102px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2) + -102px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 1071px;
    grid-auto-columns: 50%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 265px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 265px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 265px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 265px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 265px;
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 540px) / 2) + -102px);
    margin-left: calc(((100% - 540px) / 2) + 491px);
  }

  .u-section-1 .u-list-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2) + -102px);
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 50% 50%;
    min-height: 2055px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 266px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    height: 266px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-8 {
    height: 266px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-9 {
    height: 266px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-10 {
    height: 266px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 439px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 339px;
  }

  .u-section-1 .u-image-2 {
    height: 339px;
  }

  .u-section-1 .u-image-3 {
    height: 339px;
  }

  .u-section-1 .u-image-4 {
    height: 339px;
  }

  .u-section-1 .u-image-5 {
    height: 339px;
  }

  .u-section-1 .u-text-13 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 189px);
  }

  .u-section-1 .u-list-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-6 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-10 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }
}