{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'css_b/styles.css' %}">

        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
              crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
                crossorigin="anonymous"></script>

        <link id="u-theme-google-font" rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
        <link id="u-page-google-font" rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|ABeeZee:400,400i|Bangers:400">


        {#        <link rel="icon" type="image/x-icon" href="{% static 'images/baby_food_icon.png' %}">#}
    </head>

<body>

<header>
    <h1>
        <div class="topnav">
            <img src="{% static 'images/baby_food_icon.png' %}" class="icon" alt="icon" width="40" height="40"/>
            <span class="icon text" style="font-family: Bangers, cursive;">BABY & TODDLER FOOD</span>
            {#            <img src="{% static 'images/baby_food_icon.png' %}" class="icon" alt="icon" width="40" height="40"/>#}


            <a href="#locations">Locations</a>
            <a href="#contacts">Contacts</a>
            <a href="#news">Menu</a>
            <a href="#home">Home</a>

        </div>
    </h1>


</header>

<div class="container">
    <img src="{% static 'images/baby_food_jars3.png' %}" alt="welcome text" class="w3-round"
         style="width:30%; position: fixed; margin-top: 420px; right: 80px;">
    <div class="centered" style="text-align: center; display: inline-block">
        <h1>
            <span style="font-family: ABeeZee sans-serif; font-size: 30px; font-weight: 700; width: 537px; margin: 0 auto;">Welcome to Baby &amp; Toddler Food!</span>
            <p style="font-family: 'Open Sans',sans-serif;; font-size: 20px;">Here you can find healthy and safety food,
                that
                ensures appropriate nutritional composition for your children. You could pick a menu, ordered by page
                and
                allergens.<br>Login or register and have a nice stay :)</p>
        </h1>
    </div>
</div>

</body>

<footer class="footer">
    <div class="footer-section">
        <p>BABY FOOD @BURGAS</p>
    </div>
</footer>